DEBUG=True
SECRET_KEY=generation_your_key
ALLOWED_HOSTS=*
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=VerySecureSuperPassword123

# Database settings
DB_NAME=my_project_db
DB_USER=my_user
DB_PASSWORD=my_password
DB_HOST=localhost
DB_PORT=5432

# LDAP settings (Set USE_LDAP=True to enable)
USE_LDAP=False
AUTH_LDAP_SERVER_URI=ldap://your.domain.ru
AUTH_LDAP_BIND_DN=uid=django_service,cn=sysaccounts,cn=etc,dc=your,dc=domain,dc=ru
AUTH_LDAP_BIND_PASSWORD=your_password
AUTH_LDAP_USER_SEARCH_DN=cn=users,cn=accounts,dc=your,dc=domain,dc=ru
AUTH_LDAP_GROUP_SEARCH_DN=cn=groups,cn=accounts,dc=your,dc=domain,dc=ru
AUTH_LDAP_REQUIRE_GROUP=cn=django-users,cn=groups,cn=accounts,dc=your,dc=domain,dc=ru
AUTH_LDAP_CA_FILE=/app/ldap_cert.crt

# Настройки интеграции с Youtrack
YOUTRACK_BASE_URL=https://youtrack.company.com