<!-- templates/data/includes/suggestion_input.html -->
<div id="search-wrapper-{{ field }}" class="w-100 position-relative">
    <input type="text"
           name="q"
           class="form-control"
           placeholder="{{ placeholder }}"
           hx-get="{% url 'suggest' %}?field={{ field }}"
           hx-trigger="keyup changed delay:300ms, focus"
           hx-target="#results-{{ field }}"
           autocomplete="off"
           autofocus>
    <div id="results-{{ field }}"></div>
</div>
