<!-- templates/data/includes/suggestion_input.html -->
<div id="search-wrapper-{{ field }}" class="position-relative">
    <input type="text" 
           name="q" 
           class="form-control bg-light border-0 shadow-none py-2" 
           placeholder="{{ placeholder }}"
           hx-get="{% url 'suggest' %}?field={{ field }}"
           hx-trigger="keyup changed delay:300ms"
           hx-target="#results-{{ field }}"
           autocomplete="off">
    <div id="results-{{ field }}"></div>
</div>